<div layout="row">
    <div layout="column">
        <h3 class="searchTitle">Alertas:</h3>
        <div layout="column" class="hidestuff">
            <div ng-repeat="item in m.warnings | orderBy:'-' track by $index" ng-class="{'c-danger': item.danger, 'c-warning': !item.danger}">
                {{item.date}} | Camión: {{item.mionca}}, {{item.description}}
            </div>
        </div>
    </div>
    <div style="width: 60px"></div>
    <div layout="column">
        <h3 class="searchTitle">Eventos normales:</h3>
        <div layout="column" class="hidestuff">
            <div ng-repeat="item in m.events | orderBy:'-' track by $index">
                {{item.date}} | Camión: {{item.mionca}}, {{item.description}}
            </div>
        </div>
    </div> 
</div>
